.bespoke-parent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    background: #fff;
    background-position: 50% 50%;
    color: #222;
    font-size: 1.5em;
    font-family: "Abel", Helvetica, Arial, sans-serif;
    overflow: hidden;

    -webkit-transition: background 1s ease;
    transition: background 1s ease;

    -webkit-perspective: 960px;
    -moz-perspective: 960px;
    -ms-perspective: 960px;
    -o-perspective: 96px;
    perspective: 960px;
}

.bespoke-slide {
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 940px;
    height: 480px;
    margin-left: -470px;
    margin-top: -240px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;

    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
	transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}

.bespoke-inactive {
    pointer-events: none;
}

.bespoke-before {
    -webkit-transform: translateX(-1320px);
	-moz-transform: translateX(-1320px);
	-ms-transform: translateX(-1320px);
	-o-transform: translateX(-1320px);
	transform: translateX(-1320px);
	opacity: 0;
}
.bespoke-before-2 {
    -webkit-transform: translateX(-1320px);
	-moz-transform: translateX(-1320px);
	-ms-transform: translateX(-1320px);
	-o-transform: translateX(-1320px);
	transform: translateX(-1320px);
	opacity: 0.2;
}
.bespoke-before-1 {
    -webkit-transform: translateX(-1020px);
	-moz-transform: translateX(-1020px);
	-ms-transform: translateX(-1020px);
	-o-transform: translateX(-1020px);
	transform: translateX(-1020px);
	opacity: 0.5;
}
.bespoke-after {
    -webkit-transform: translateX(1020px);
	-moz-transform: translateX(1020px);
	-ms-transform: translateX(1020px);
	-o-transform: translateX(1020px);
	transform: translateX(1020px);
	opacity: 0;
}
.bespoke-after-1 {
    -webkit-transform: translateX(1320px);
	-moz-transform: translateX(1320px);
	-ms-transform: translateX(1320px);
	-o-transform: translateX(1320px);
	transform: translateX(1320px);
	opacity: 0.5;
}
.bespoke-after-2 {
    -webkit-transform: translateX(1320px);
	-moz-transform: translateX(1320px);
	-ms-transform: translateX(1320px);
	-o-transform: translateX(1320px);
	transform: translateX(1320px);
	opacity: 0.2;
}
